<html>
<head>
    <title>Register</title>
</head>
<body>

    <form method='post'>
        <table style='margin:100 auto; border:2px dashed black; padding: 10px;'>
            <tr>
                <td>Username:</td>
                <td><input type='text' name='username'><br></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type='password' name='password'><br></td>
            </tr>
            <tr>
                <td>Verify Password:</td>
                <td><input type='password' name='verify_password'><br></td>
            </tr>
            <tr>
                <td><button type='submit'>Submit</button></td>
            </tr>
        </table>
    </form>

</body>
</html>