#content {
	background-color: rgba(255, 255, 255, .7);
	width: 800px;
	height: inherit;
	margin: 0 auto;
	margin-top: 60px;
	padding: 10px;
	font-size: 20px;
	margin-bottom: 30px;
	border-radius: 20px;
	box-shadow: 0px 0px 6px #000000;
}

body{
	background-image: url('navy_blue.png');
	background-attachment: fixed;
}

#title {
	text-align: center;
	margin-bottom: 7px; 
}

#pictureleft{
	width: 600px;
}

#picturerow img {
	float: right;
}

#content div{
	padding: 3px;
}

.link {
	

	
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	background-color: #7f7f7f;
	width: 200px;

	border-radius: 10px;
	font-size: 18px;
	color: black;
	border: 1px solid black;
}

.link:hover {
	background-color: #666666;
}

.nav {
	display: block;
	text-align: center;
	margin-bottom: 15px;
}

#aboutImage {
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}